fastapi
uvicorn[standard]
python-socketio
python-multipart
sqlalchemy
psycopg2-binary
pydantic

python-dotenv
requests
langchain
langchain-core
langchain-google-genai
langchain-openai
langgraph
alembic